<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href="../style.css"/>
    <meta charset="UTF-8" />
    <title>Lorena Silva</title>
  </head>
  <body>
    <div class="parent">
    <div class="sidebar">
      <div class="sidebar-pos">
        <div class="menu">
          <a href="/">Voltar</a></a>
        </div>
      </div>
    </div>
    <div class="content">
      <section class= "texts">
        <h2>Histórico<span> Acadêmico</span> -Geofísica</h2>
        <br />
        <h3>-Participei de um levantamento Geofísico na ilha de Tatuoca-PA <br /> onde 
        são feitas mendidas sobre o campo magnético da Terra <br /></h3><br />
        <h3>-Minha IC foi em processamento de sinais sísmicos, que resultou em meu TCC:<br />
        "Processamento Sísmico das linhas 189-193 da bacia Tumbes-Peru" </h3><br />
        <h3>-Fiz 2 estágios um no projeto "O que é geofísica?",<br /> o qual tinha por objetivo educar crianças e adolescentes sobre a Geofísica,<br/>
         e outro no qual o objetivo era criar "Jupyter notebooks" contendo fórmulas de cálculo<br /> 
         e seus grráficos para auxílio dos estudantes.</h3>
        
      </section>
    </div>
    </div>
  </body>
</html>s