<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../style.css"/>
    <meta charset="UTF-8" />
    <title>Lorena Silva</title>
  </head>
  <body>
    <div class="parent">
    <div class="sidebar">
      <div class="sidebar-pos">
        <div class="img-sidebar">
          <img src="../lore.jpg" alt="Foto de Lorena da Silva">
        </div>
        <div class="menu">
          <a href="/link">Links para as PRs</a>
          <a href="/academic">Acadêmico</a>
        </div>
      </div>
    </div>
    <div class="content">
      <section class= "texts">
        <h2>Lorena <span>Silva</span></h2><br />
        <h3>Uma pequena descrição sobre mim:</h3>

        <p>-Tenho 28 anos;<br />
        -Moro em Belém/PA, com minha família;<br />
        </p><br />
        <h3>Formação:</h3>
        <p>-Bacharela em Geofísica (UFPa)<br />
        -Tec. em Geodésia e Cartografia (IFPa)<br />
        -Cursos livres em Desenvolvimento web<br />
        </p><br />
        <h3>Trabalho:</h3>
        <p>-Já trabalhei como Atendente, Vendedora, Estagiária, e agora Trainee </p><br />
        
        <h3>Curiosidades:</h3>
        <p>-Já fui campeã paraene de xadrez com 16 anos</p><br />
        <p>-Quando era criança. quebrei o braço esquedo pulando do sofá pro chão</p>
      </section>
    </div>
    </div>
  </body>
</html>