<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../style.css"/>
    <meta charset="UTF-8" />
    <title>Lorena Silva</title>
  </head>
  <body>

    <div class="sidebar">
      
      <div class="sidebar-pos">

        <div class="menu">
          <a href="/">Voltar</a>

        </div>

      </div>

    </div>
  </body>
</html>