<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../style.css"/>
    <meta charset="UTF-8" />
    <title>Lorena Silva</title>
  </head>
  <body>
    <div class="parent">
    <div class="sidebar">
      <div class="sidebar-pos">
        <div class="menu">
          <a href="/">Voltar</a></a>
        </div>
      </div>
    </div>
    <div class="content">
      <section class= "texts">
        <h2>PR's do Desafio <span>Parser</span></h2><br />
        <h3>Uma pequena descrição sobre mim:</h3><br />
        <h2>PR do Desafio web com <span>Sinatra</span></h2><br />
        <h3>Uma pequena descrição sobre mim:</h3><br />
      </section>
    </div>
    </div>
  </body>
</html>